
.container{
    background-color:#1F2937;
    justify-content:space-around;
    display:flex;
    height:400px;
    }
    
    .container-one{
    display:flex;
    flex-direction:column;
    justify-content:space-around;

    }
    
    .header{
    font-size:24px;
    color:#F9FAF8; 
    margin-top:30px;
    }
    .header-info
    {
        margin-bottom:40px;
    }
    .container-two{
    display:flex;
    flex-direction:column;
    justify-content:space-around;
    }
    .header-image{
    width:450px;
    height:150px;
    margin-bottom:40px;
    }
    
    .links{
    display:flex;
    gap:25px;
    list-style-type: none;
    }
    
    .hero-main-text{
    font-size:48px;
    color:#F9FAF8;
    font-weight:800;
    }
    
    .hero-secondary-text, .text{
    font-size:18px;
    color:#E5E7EB;
    }
    
    img{
    width:130px;
    height:130px;
    border-radius: 8px;
    
    }
    .content-title{
    display:flex;
    justify-content:center;
    }
    .content{
    display:flex;
    justify-content: center;
    text-align:center;
    height:250px;
    }
    
    .content-info-text{
    display:flex;
    
    text-align:center;
    }
    
    .content-info{
    width:180px;
    height:250px;
    padding:20px;
    }
    .quote{
    width:100%;
    height:340px;
    
    display:flex;
    flex-direction:column;
    justify-content: center;
    align-items: center;
    background-color:#E5E7EB;
    margin:none;
    }
    .quote-card{
        border:1px solid none;
        width:800px;
        height:80px;
        
        display:flex;
      
        flex-direction: column;
        justify-content: center;
        align-items: center;
    
    }
    .quote-card-name{
        display:flex;
        flex-direction: column;
        align-self:flex-end;
        margin-bottom:40px;
        
    }
    .quote-text{
    
    font-size:36px;
    font-style:light italic;
    color: #1F2937;
    
    
    }
   
    button{
    color:#3882F6;
    display:flex;
    justify-content: center;
    flex-direction: column;
    width:100px;
    height:30px;
    align-items: center;
    border-radius: 8px;
    margin-top:30px;

    }
    .call-to-action{
        width:100%;
        height:340px;
       
        display:flex;
        align-items: center;
       
        justify-content: center;
        
    }
    .action{
    width:600px;
    height:40px;
    padding:30px;
    
    background-color:#3882F6;
    display:flex;
    margin-left:auto;
    margin-right:auto;
    justify-content: space-around;
    border-radius:8px;
    }
    .action-text{
    display:flex;
    flex-direction:column;
    
    }
    
    .footer{
    display:flex;
    justify-content:center;
    background-color:#1F2937;
    color:#F9FAF8;
    }
    
    
